<html>
<body>

J'ai {{ mon_age}} ans.
<br>

{% if mon_age<18 %}
    Tu es mineur.
{% else %}
    Tu es majeur.
{% endif %}




{#commentaire
{{ affichage}}
{%: test, foreach, etc,... %}

#}

</body>
</html>


